# modified config change for pixoticker.  4MB flash size and no PSRAM

CONFIG_ESPTOOLPY_FLASHSIZE_8MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

CONFIG_SPIRAM=n
CONFIG_SPI_MASTER_ISR_IN_IRAM=n
CONFIG_ESP_SLEEP_PSRAM_LEAKAGE_WORKAROUND=n

CONFIG_ESP_SLEEP_FLASH_LEAKAGE_WORKAROUND=y
CONFIG_ESP_SLEEP_PSRAM_LEAKAGE_WORKAROUND=n
